@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


* {
    margin: 0;

}

body {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}


/* Header */
header {
    position: sticky;
    top: 0;
}

#header {
    background-color: black;
    color: white;

}

#header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    padding: 0 50px;

}

#header .header-wrapper .logo {
    color: rgb(255, 70, 70);
    font-size: 30px;
}

#header .header-wrapper .menu {
    display: flex;
    list-style: none;
    gap: 30px;

}

#header .header-wrapper .menu li .active {
    font-weight: bold;
    color: purple;

}

#header .header-wrapper .menu li a {
    color: white;
    text-decoration: none;
}

#header .header-wrapper .menu li a:hover {
    color: purple;
}

#header .header-wrapper .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

#header .header-wrapper .right img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

#header .header-wrapper .right .profile-text-container {
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1;

}


#header .header-wrapper .right .toggle {
    width: 40px;
    background-color: white;
    height: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#header .header-wrapper .right .toggle-icon {
    color: goldenrod;
}

#header .header-wrapper .right .toggle-ball {
    background-color: black;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 1px;
}


/* */

#layout .layout-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#layout .layout-wrapper .left {
    background-color: black;
    height: 100vh;
    width: 50px;
    color: white;


    position: fixed;
    top: 60px;
    left: 0;



    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#layout .layout-wrapper .left i {
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#layout .layout-wrapper .left i:hover {
    color: purple;
    cursor: pointer;
    font-size: 20px;
}

#layout .layout-wrapper .right {

    margin-left: 50px;
    width: 100%;
}

/* */

main #layout .layout-wrapper .right .featured-contact {

    background: url("/assets/img/spiderman.jpg");
    height: calc(100vh - 60px);
    background-size: 100% 100%;
}

main #layout .layout-wrapper .right .featured-contact .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 400px;
    padding: 0 48px;
}


main #layout .layout-wrapper .right .featured-contact .content-wrapper img {

    width: 100%;
}

main #layout .layout-wrapper .right .featured-contact .content-wrapper .featured-desc {
    width: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
}

main #layout .layout-wrapper .right .featured-contact .content-wrapper .featured-buttons {
    display: flex;
    gap: 8px;
}

main #layout .layout-wrapper .right .featured-contact .content-wrapper .featured-buttons button {
    display: flex;
    gap: 8px;
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

main #layout .layout-wrapper .right .featured-contact .content-wrapper .featured-buttons .info-button {
    background-color: rgb(145, 142, 142, 0.5);
    color: white;
}

/* */
main #layout .layout-wrapper .right .move-list-filter {
    background-color: black;
    color: white;

}

main #layout .layout-wrapper .right .move-list-filter .filter-wrapper {
    background-color: black;

    padding: 20px;
}


main #layout .layout-wrapper .right .move-list-filter .filter-wrapper select {
    background-color: black;
    color: white;
    padding: 7px 0;
    width: 125px;
    margin: 20px 0 20px 20px;

}

/* */

main #layout .layout-wrapper .right .move-list-container {
    margin-left: 37px;
}

main #layout .layout-wrapper .right .move-list-container .title {
    padding: 16px 0;
}

main #layout .layout-wrapper .right .move-list-container .move-list {
    list-style: none;
    padding: 0;
    padding: 0px 0 24px 0;
    cursor: pointer;
    position: relative;
}

main #layout .layout-wrapper .right .move-list-container .move-list:hover .movie-list-item .movie-info {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
}

main #layout .layout-wrapper .right .move-list-container .move-list .movie-list-item {
    width: 250px;

}


main #layout .layout-wrapper .right .move-list-container .move-list .movie-list-item .movie-img {
    width: 100%;
}

main #layout .layout-wrapper .right .move-list-container .move-list .movie-list-item .movie-info {
    display: none;

}